/* Coolors Exported Palette - coolors.co/3b1f2b-db162f-dbdfac-5f758e-383961 */

/* HSL */
$color1: hsla(165, 100%, 39%, 1); // mylight
$color2: hsla(0, 0%, 67%, 1); // myredlight
$color3: hsla(345, 100%, 61%, 1); // myred
$color4: hsla(0, 0%, 34%, 1); // mydark
$color5: hsla(155, 100%, 18%, 1); // mysuccess


/* RGB */
$color1: rgba(0, 200, 150, 1); // mylight
$color2: rgba(171, 171, 171, 1); // myredlight
$color3: rgba(255, 55, 105, 1); // myred
$color4: rgba(87, 87, 87, 1); // mydark
$color5: rgba(0, 90, 52, 1); // mysuccess
