{% load socialaccount %}

{% get_providers as socialaccount_providers %}
<div class="mx-auto flex max-w-sm flex-col gap-2">
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
  <a title="{{brand.name}}"
     class="socialaccount_provider btn btn-outline justify-start {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
{% endfor %}
{% endif %}
  <a class="btn btn-outline justify-start" role="button" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
{% endfor %}
</div>
