[run]
source = .
omit =
    */tests/*
    website/permissiondapp/*
    website/widgets/*
    website/manage.py
    */__init__.py
    */migrations/*
    */asgi.py
    */wsgi.py
    */settings/*.py
    website/nameservice/anssdk/*
    website/functional_tests/*
    website/integration_tests/*

[report]
exclude_lines =
    if __name__ == .__main__.:
