[run]
source = .
omit =
    */tests/*
    asastats/permissiondapp/*
    asastats/widgets/*
    asastats/manage.py
    */__init__.py
    */migrations/*
    */asgi.py
    */wsgi.py
    */settings/*.py
    asastats/nameservice/anssdk/*
    asastats/functional_tests/*
    asastats/integration_tests/*

[report]
exclude_lines =
    if __name__ == .__main__.:
