__pycache__
*.pyc
htmlcov
.coverage
screendumps
docs/_build
.cache
.pytest_cache
.vscode
.VSCodeCounter
*.code-workspace
.scannerwork
coverage.xml
website/javascript_tests/coverage/
node_modules
.npmrc
scripts/logs
website/.env
website/.env.testing
website/.env.production
.ruff_cache
website/widgets/inhouse/*/tests/javascript/coverage
website/widgets/inhouse/*/package-lock.json
website/widgets/static/*
website/widgets/templates/*
wallet/coverage
website/static/assets/*transparency-report*.pdf
deploy/.env.production
deploy/.env.testing
