__pycache__
*.pyc
htmlcov
.coverage
screendumps
docs/_build
.cache
.pytest_cache
.vscode
.VSCodeCounter
*.code-workspace
.scannerwork
coverage.xml
asastats/javascript_tests/coverage/
node_modules
.npmrc
scripts/logs
asastats/.env
.ruff_cache
asastats/widgets/inhouse/*/tests/javascript/coverage
asastats/widgets/inhouse/*/package-lock.json
asastats/widgets/static/*
asastats/widgets/templates/*
frontend/coverage
