{% load static %}
{% load core_extras %}
<div class="col s12">
  <ul class="collapsible asasec">
    {% for asaitem in asaitems %}
      {% with asset=asaitem.asset %}
        <li id="f{{ asset.id }}" class="fitem">
          <div class="collapsible-header token{% with slot=colors|dict_get:asset.id %}{% if slot %} c{{ slot }}{% endif %}{% endwith %}">
            <span>&nbsp;{{ asaitem.amount|amount_repr:asset.decimals }}&nbsp;&nbsp;<span class="unit">{{ asset.unit }}</span></span>
            <div class="icondiv">
              <img src="{{ asaitem|asa_icon }}" alt="{{ asset.name }} logo" class="circle asaicon" onerror="this.onerror=null; this.src='{{ BASE_CDN_URL }}/icons/empty.png';" />
            </div>
            <div class="right">
              &nbsp;<span class="val" data-val="{{ asaitem.value }}">{{ asaitem.value|floatformat:'2g' }} ALGO</span>
            </div>
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              <li id="{{ asset.id }}" class="collection-item fitem">
                <div class="col s12 m9 push-m3 right-align asar">
                  {% if url_value %}
                  <div class="swap-asa-entry">
                    <div class="col s12 asa">
                      <div class="col s6 push-s6 m5 push-m7 right-align swap-action-column">
                        <a class="btn waves-effect whenmoon swap-asa id-folks-swap-toggle"
                          href="{% url 'swap_source' url_value asset.id %}"
                          data-from="{{ asset.id }}"
                          data-label-show="Swap" data-label-hide="Hide">
                          <i class="material-icons right" aria-hidden="true">{{ 'swap'|get_styling:"icon" }}</i><span class="swap-label">Swap</span>
                        </a>
                      </div>
                      <div id="folks-panel-{{ asset.id }}" class="col s6 pull-s6 m7 pull-m5 right-align hidden">
                        <div class="id-folks-panel" data-from="{{ asset.id }}"></div>
                      </div>
                    </div>
                  </div>
                  {% endif %}                 
                  {% for prog in asaitem.programs %}
                    {% include "snippets/asas/program.html" with prog=prog asset=asset price=asaitem.price pricealgo=pricealgo forloop_counter=forloop.counter %}
                  {% endfor %}
                  {% include "snippets/asas/links.html" with asset=asset %}
                </div>
                {% include "snippets/asas/meta.html" with asaitem=asaitem asset=asset %}
              </li>
            </ul>
          </div>
        </li>
      {% endwith %}
    {% endfor %}
  </ul>
</div>
