{% load static %}{% load i18n %}{% load core_extras %}<div id="modalLogin" class="modal">
  <div class="modal-content">
    <h3 class="center-align">Log in to {{ WEBSITE_NAME }}</h3>

    <div class="row">
      {% comment %} Three tabs; regular login is the default active panel. {% endcomment %}
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s4"><a class="active" href="#modal-tab-login">Log in</a></li>
          <li class="tab col s4"><a href="#modal-tab-social">Social</a></li>
          <li class="tab col s4"><a href="#modal-tab-wallet">Wallet</a></li>
        </ul>
      </div>

      {% comment %} ---- TAB 1: email / password (default) ---- {% endcomment %}
      <div id="modal-tab-login" class="col s12">
        <form class="login" id="modal_login_form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="" id="id_modal_login_next" />
          <div class="row center-align" style="margin-top:1.25rem">
            <div class="input-field col s12 m10 offset-m1">
              <i class="material-icons prefix" aria-hidden="true">{{ 'login'|get_styling:"icon" }}</i>
              <input autofocus="autofocus" id="id_login_modal" name="login"
                     placeholder="Username or email" type="text" required />
              <label for="id_login_modal">Login:</label>
            </div>
            <div class="input-field col s12 m10 offset-m1">
              <i class="material-icons prefix" aria-hidden="true">{{ 'password'|get_styling:"icon" }}</i>
              <input id="id_password_modal" name="password" autocomplete="off"
                     placeholder="Password" type="password" required />
              <label for="id_password_modal">Password:</label>
            </div>
            <div class="col s12 m10 offset-m1 left-align">
              <label title="Remember me on this computer">
                <input name="remember" type="checkbox">
                <span>Remember me</span>
              </label>
            </div>
            <div class="center-align col s12">
              <button class="waves-effect btn-flat auth" id="id_cta_modal" type="submit">
                Log in <i class="material-icons right" aria-hidden="true">{{ 'auth_action'|get_styling:"icon" }}</i>
              </button>
            </div>
          </div>
        </form>
      </div>

      {% comment %} ---- TAB 2: social providers ---- {% endcomment %}
      <div id="modal-tab-social" class="col s12">
        <div class="row" style="margin-top:1.25rem">
          <div class="valign-wrapper col s12 m8 offset-m2 socialsmall">
            <img src="{% static 'img/social/discord.png' %}" alt="{% trans 'Discord logo' %}" />
            <a class="waves-effect waves-dark btn-flat" role="button" href="/accounts/discord/login/">Sign in with Discord</a>
          </div>
          <div class="valign-wrapper col s12 m8 offset-m2 socialsmall">
            <img src="{% static 'img/social/twitter.png' %}" alt="{% trans 'X logo' %}" />
            <a class="waves-effect waves-dark btn-flat" role="button" href="/accounts/twitter_oauth2/login/">Sign in with X</a>
          </div>
          <div class="valign-wrapper col s12 m8 offset-m2 socialsmall">
            <img src="{% static 'img/social/reddit.png' %}" alt="{% trans 'Reddit logo' %}" />
            <a class="waves-effect waves-dark btn-flat" role="button" href="/accounts/reddit/login/">Sign in with Reddit</a>
          </div>
          <div class="valign-wrapper col s12 m8 offset-m2 socialsmall">
            <img src="{% static 'img/social/github.png' %}" alt="{% trans 'GitHub logo' %}" />
            <a class="waves-effect waves-dark btn-flat" role="button" href="/accounts/github/login/">Sign in with GitHub</a>
          </div>
          <div class="valign-wrapper col s12 m8 offset-m2 socialsmall">
            <img src="{% static 'img/social/google.png' %}" alt="{% trans 'Google logo' %}" />
            <a class="waves-effect waves-dark btn-flat" role="button" href="/accounts/google/login/">Sign in with Google</a>
          </div>
        </div>
      </div>

      {% comment %} ---- TAB 3: wallet sign-in (reuses the shared snippet) ---- {% endcomment %}
      <div id="modal-tab-wallet" class="col s12">
        {% include "snippets/wallet_signing.html" %}
      </div>
    </div>

    <div class="divider col s12 m10 offset-m1"></div>
    <div class="row center-align col s12">
      <a class="secondaryAction waves-effect waves-light btn-flat" href="{% url 'account_reset_password' %}">Forgot password?</a>
      <a class="secondaryAction waves-effect waves-light btn-flat" href="{% url 'account_signup' %}">Don't have an account?</a>
    </div>
    <div class="right-align col s12">
      <a href="#" class="waves-effect btn-flat modal-close" id="id_cancel">Cancel<i class="material-icons right" aria-hidden="true">{{ 'cancel'|get_styling:"icon" }}</i></a>&nbsp;
    </div>
  </div>
</div>
