{% load core_extras %}<form method="POST" action="." id="process_form">
{% csrf_token %}
<div class="mt-4">
  <div>
  {% for radio in form.provider %}
    <div class="w-1/2 md:w-1/4">
    <p{% if radio.choice_label != "Koinly" %} class="tooltipped providertip" data-position="bottom" data-tooltip="Not implemented yet"{% endif %}>
      <label>
      {{ radio.tag }}
        <span>{{ radio.choice_label }}</span>
      </label>
    </p>
    </div>
  {% endfor %}
  </div>
  <div>
    <div class="text-center">
    <p{% if form.use_mve.help_text %} class="tooltipped providertip" data-position="top" data-tooltip="{{ form.use_mve.help_text|safe }}"{% endif %}>
      <label>
        {{ form.use_mve }}
        <span>{{ form.use_mve.label }}</span>
      </label>
    </p>
    </div> 
    <div class="text-center">
      <p{% if form.non_zero.help_text %} class="tooltipped providertip" data-position="top" data-tooltip="{{ form.non_zero.help_text|safe }}"{% endif %}>
        <label>
          {{ form.non_zero }}
          <span>{{ form.non_zero.label }}</span>
        </label>
      </p>
      </div>
    </div>
</div>
{% if form.non_field_errors %}<div><span class="text-error">{{form.non_field_errors}}</span></div>{% endif %}
<div class="mx-auto max-w-2xl text-center">
  <button class="btn btn-primary" id="process" type="submit">Process</button>
</div>
</form>
