{% extends 'socialaccount/base.html' %}
{% load i18n %}
{% load core_extras %}
{% block title %}{{ WEBSITE_NAME }} - login cancelled{% endblock %}
{% block page_header %}Login cancelled{% endblock %}

{% block socialaccount_top %}
<p>You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="url 'account_login'">sign in</a>.</p>
{% endblock %}

{% block socialaccount_bottom %}
{% include "account/snippets/bottom_buttons.html" %}
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'home' %}">Home</a> &raquo; <a href="{% url 'profile' %}">Profile</a> &raquo; Cancel
{% endblock %}