{% extends 'socialaccount/base.html' %}
{% load i18n %}
{% load core_extras %}

{% block title %}
ASA Stats - {% if process == "connect" %}{{ provider.name }} connect{% else %}{{ provider.name }} sign in{% endif %}
{% endblock %}
{% block page_header %}
{% if process == "connect" %}Connect {{ provider.name }}{% else %}Sign in via {{ provider.name }}{% endif %}
{% endblock %}

{% block socialaccount_top %}
{% if process == "connect" %}
<p>You are about to connect a new third-party account from {{ provider.name }}.</p>
{% else %}
<p>You are about to sign in using a third-party account from {{ provider.name }}.</p>
{% endif %}
{% endblock %}

{% block socialaccount_middle %}
<br>
<form class="connect" id="id_connect" method="POST" action="{{ attrs.action }}">
    {% csrf_token %}
    <div class="row center-align col s12">
        <button class="primaryAction waves-effect waves-mydark btn whenmoon" type="submit">Continue<i class="material-icons right" aria-hidden="true">{{ 'auth_action'|get_styling:"icon" }}</i></button>
    </div>
</form>
{% endblock %}

{% if process == "connect" %}
{% block breadcrumbs %}
<a href="{% url 'home' %}">Home</a> &raquo; <a href="{% url 'profile' %}">Profile</a> &raquo; <a href="{% url 'socialaccount_connections' %}">Social</a> &raquo; Connect
{% endblock %}
{% endif %}