{% extends 'account/base.html' %}
{% load core_extras %}
{% load account %}
{% load i18n %}
{% load static %}
{% block title %}Confirm email - ASA Stats{% endblock %}
{% block description %}Confirm email and associate it to your {{ WEBSITE_URL }} account.{% endblock %}
{% block keywords %}email,user,confirmation,confirm email{% endblock %}

{% block page_header %}Confirm email address{% endblock %}

{% block account_already %}{% endblock %}

{% block account_top %}
{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <p>{% with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endwith %}</p>
{% endif %}
{% endblock %}

{% block account_middle %}
<br>
{% if confirmation %}
    <form id="email_confirm" method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <div class="row center-align col s12">
            <button id="id_confirm_email" class="primaryAction waves-effect waves-mydark btn whenmoon" type="submit">Confirm<i class="material-icons right" aria-hidden="true">{{ 'auth_action'|get_styling:"icon" }}</i></button>
        </div>
    </form>
{% else %}
    {% url 'account_email' as email_url %}
    <p>This email confirmation link expired or is invalid. <a href="{{ email_url }}">Please issue a new email confirmation request</a>.</p>
{% endif %}
{% include "account/snippets/bottom_buttons.html" %}
{% endblock %}
