{% extends 'account/base.html' %}
{% load i18n %}
{% load core_extras %}
{% block title %}Password change done - {{ WEBSITE_NAME }}{% endblock %}
{% block description %}This is the page where you'll be notified that your password change was successful.{% endblock %}
{% block keywords %}authentication,password,change,done,account{% endblock %}
{% block page_header %}Password changed{% endblock %}

{% block account_top %}
<p>Your password is now changed.</p><br>
{% include "account/snippets/bottom_buttons.html" %}
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'home' %}">Home</a> &raquo; <a href="{% url 'profile' %}">Profile</a> &raquo; Reset
{% endblock %}
