{% extends 'account/base.html' %}
{% load i18n %}
{% load core_extras %}
{% block title %}Password change was successful - {{ WEBSITE_NAME }}{% endblock %}
{% block description %}Your password change was successful.{% endblock %}
{% block keywords %}authentication,password,change,done,account{% endblock %}
{% block page_header %}Password reset done{% endblock %}

{% block account_top %}
<p>We have sent you an email. Please contact us if you do not receive it within a few minutes.</p><br>
{% include "account/snippets/bottom_buttons.html" %}
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'home' %}">Home</a> &raquo; <a href="{% url 'profile' %}">Profile</a> &raquo; Reset
{% endblock %}
