{% extends 'account/base.html' %}
{% load i18n %}
{% load core_extras %}
{% block title %}Verification sent - ASA Stats{% endblock %}
{% block description %}We have sent an email to you for verification.{% endblock %}
{% block keywords %}authentication,verification,email,confirmation{% endblock %}

{% block page_header %}Verify your email address{% endblock %}

{% block account_top %}
<p>We have sent an email to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p><br>
{% include "account/snippets/bottom_buttons.html" %}
{% endblock %}
