<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Internal server error</title>
    <meta name="description" content="{{ WEBSITE_URL }} server error page">
    <meta name="keywords" content="error,server error">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    {% include "snippets/error_style.html" %}
</head>

<body>
    <main class="panel">
        <a class="brand" href="{{ WEBSITE_URL }}"><img src="/logo400.png" width="400" height="241" alt="Go to {{ WEBSITE_URL }} index page"></a>
        <h1>Internal server error</h1>
        <p>We're sorry, but something went wrong. The development team has been informed and the problem will be resolved as soon as possible.</p>
        <a class="action" href="{{ WEBSITE_URL }}">Go to the home page</a>
    </main>
</body>

</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
