{% extends 'base.html' %}
{% block title %}Privacy Policy - {{ WEBSITE_NAME }} Mobile{% endblock %}
{% block description %}Privacy Policy for the {{ WEBSITE_NAME }} Mobile application. {{ WEBSITE_NAME }} Mobile does not collect or store personal data.{% endblock %}
{% block keywords %}{{ WEBSITE_NAME }} Mobile,{{ WEBSITE_SHORT_NAME }},Algorand,ASA,privacy policy,privacy,data,app,software{% endblock %}
{% block content %}
<h1 class="center-align">Privacy Policy</h1>
<div class="row left-align">
  <h3 id="warranty">{{ WEBSITE_NAME }} Mobile</h3>
  <div class="col s12">
    <p>{{ WEBSITE_NAME }} built the {{ WEBSITE_NAME }} Mobile app as a Free app. This service is provided by {{ WEBSITE_NAME }} at no cost and is intended for use as is.<br>
        <br>
        This application does not collect or store personal data.<br>
        <br>
        If you installed this application from Google Play, then Google Play does collect some personal data. Please see the privacy policy for Google Play Services here: <a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Google Play Services Privacy Policy page">https://policies.google.com/privacy</a><br>
    </p><br>
  </div>
  <h3 id="links">Links to Other Sites</h3>
  <div class="col s12">
    <p>{{ WEBSITE_NAME }} Mobile contains links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.<br>
    </p><br>
  </div>

  <h3 id="changes">Changes to This Privacy Policy</h3>
  <div class="col s12">
    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.<br>
    </p>
    <p>This policy is effective as of 2022-11-11<br>
    </p><br>
  </div>

  <h3 id="contact">Contact Us</h3>
  <div class="col s12">
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at info@{{ WEBSITE_DOMAIN }}.<br>
    </p><br>
  </div>

</div>
{% endblock %}
{% block otherfooter %}<script type="application/ld+json">{% include "jsonld/asm-privacy.jsonld" %}</script>{% endblock %}
