{% extends 'base_bundlename.html' %}
{% load i18n %}
{% load core_extras %}
{% block title %}{{ bundlename.name }} - {{ WEBSITE_NAME }}{% endblock %}
{% block description %}{{ bundlename.name }} - edit bundle name and related addresses.{% endblock %}
{% block keywords %}bundle name,edit bundle name,input{% endblock %}
{% block page_header %}{{ bundlename.name }}{% endblock %}

{% block extra_bundlename_data %}
<div class="mt-8 space-y-1 text-sm text-base-content/70">
    <div>Created on:</div>
    <div id="id_created" class="text-base-content">{{ bundlename.short_created }}</div>
    <div class="pt-2">Modified on:</div>
    <div id="id_modified" class="text-base-content">{{ bundlename.short_modified }}</div>
    <div class="pt-4">
      <a class="link link-hover text-error" href="{% url 'bundlename_delete' bundlename.name %}" id="id_delete">Delete bundle name</a>
    </div>
</div>
{% endblock %}
{% block bundlename_submit_text %}Update{% endblock %}

{% block active_link %}{% if element == bundlename %}aria-current="page"{% endif %}{% endblock %}

{% block breadcrumbs %}<a href="{% url 'home' %}">Home</a> &raquo; Bundle name{% endblock %}
