{% extends 'base_tw.html' %}{% load static %}{% load core_extras %}
{% block otherheader %}<meta name="format-detection" content="telephone=no">{% endblock %}
{% block content %}
<div class="mx-auto max-w-3xl text-center">
  <div>
    <div>
      <h1 class="text-center">Export to CSV</h1>
      {% if bundle %}
        <h4 class="text-center text-lg">
        {% for addr in bundle %}&nbsp;<a href="{% url 'export_address' addr %}" target="_blank" title="CSV report for address {{ addr }}">{{ addr|short_address }}</a>&nbsp;{% endfor %}
        </h4>
      {% else %}
        <h4 class="text-center text-lg truncate"><a href="{% explorer_url 'address' url_value %}" target="_blank" title="Open address in {% explorer_name %}">{{ address.0 }}</a></h4>
      {% endif %}
    </div>
    {% if finished_tax %}
      {% include "snippets/taxfinished.html" with bundle=bundle url_value=url_value report=finished_tax %}
    {% elif url_value in processing_tax %}
      {% include "snippets/taxprocessing.html" with bundle=bundle url_value=url_value %}
    {% else %}
      {% include "snippets/taxprepare.html" %}
    {% endif %}
    <div class="mx-auto max-w-2xl text-center">
      {% if messages %}
      <ul class="mt-4 space-y-2">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block otherfooter %}
<script src="{% static 'js/tax.min001.js' %}"></script>
{% endblock %}
