{% extends 'base_home.html' %}
{% load i18n %}{% load static %}{% load core_extras %}
{% block title %}Home page - {{ WEBSITE_NAME }}{% endblock %}
{% block description %}This is your home page of the {{ WEBSITE_URL }} website and all of your bundle names are listed here.{% endblock %}
{% block keywords %}home,home page,homepage,bundle names{% endblock %}
{% block page_header %}{{ profile.name }}'s home page{% endblock %}

{% block left_section %}
<div class="rounded-box border border-base-300 bg-base-100 divide-y divide-base-300 home">
    <a href="{% url 'profile' %}" class="p-4" id="id_profile">
        <span>{{ profile.name }}</span>
        <p>{{ user.username }}<br>
            {{ user.email }}
        </p>
    </a>
</div>
<br><br>
{% endblock %}

{% block middle_section %}
{% if user.profile.show_sort_and_filter %}
<div id="id_panel">
  {% include "snippets/home_sorting.html" %}
  {% include "snippets/home_filtering.html" %}
</div>
<div class="divider"></div>
{% endif %}
{% if user.profile.address == "" %}<br><span class="text-error">To begin using additional features, you must add and authorize your subscription/DAO address on the <a href="{% url 'profile' %}">profile page</a>.</span><br>{% endif %}
{# `bundlenames` is a JS hook: home.js sorts and filters `$(".bundlenames > div")`. #}
<div class="bundlenames">
  {% include "snippets/home_bundlenames.html" with collection=profile.bundlenames %}
</div>
<div>
  <br><a class="btn btn-primary" id="id_add" role="button" href="{% url 'bundlename_add' %}">Add bundle name</a>
  <br>&nbsp;
</div>
{% if messages %}
<div class="mx-auto max-w-3xl">
  {% for message in messages %}
    {% if "error" in message.tags %}
    <div><span class="text-error">{{ message }}</span></div>
    {% else %}
    <div class="badge badge-outline bg-neutral text-neutral-content text-base-content/60 shadow">
        {{ message }}
    </div>   
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block breadcrumbs %}Home{% endblock %}
{% block otherfooter %}
<script src="{% static 'js/home.min001.js' %}"></script>
{% endblock %}
