{% extends 'base_home.html' %}
{% load static %}
{% load i18n %}
{% load core_extras %}
{% block title %}API token data - ASA Stats{% endblock %}
{% block description %}This is the page where you can see and refresh your API token.{% endblock %}
{% block keywords %}account,API,API token,API token refresh,API token access{% endblock %}
{% block page_header %}ASA Stats API token{% endblock %}
{% block middle_section %}
<div class="grid gap-6 md:grid-cols-12 md:text-left">
<div class="md:col-span-7">
  <div class="text-left">
    {% if refresh %}
    <span>Refresh token:</span><br><br>
    <span class="break-words">{{ refresh }}</span>&nbsp;<span class="cursor-pointer">&nbsp;&#128203;&nbsp;</span>
    <br><br>
    {% endif %}
    {% if access %}
    <span>Access token:</span><br><br>
    <span class="break-words">{{ access }}</span>&nbsp;<span class="cursor-pointer">&nbsp;&#128203;&nbsp;</span>
    <br><br>
    {% endif %}
  </div>
  <div>
    <a class="btn btn-primary" href="{% url 'profile_api' %}?refresh=yes" id="id_obtain">Obtain token pair</a>
  </div>
</div>
<div class="md:col-span-5">
  <a class="btn btn-ghost" href="{% url 'profile' %}">Back</a>&nbsp;
  <br><br>
  <span>Active tier: </span><span class="text-primary">{{ user.profile.tier_name|upper }}</span>
  <br><br>
</div>
</div>
{% endblock %}
{% block breadcrumbs %}<a href="{% url 'home' %}">Home</a> &raquo; <a href="{% url 'profile' %}">Profile</a> &raquo; API&nbsp;token{% endblock %}
